body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f2f5;
}

h1 {
    color: #1c1e21;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
}